@font-face {
  font-family: 'Avenir Next';
  font-style: italic;
  src: url('../fonts/Avenir/AvenirNextLTPro-It.otf');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Avenir/AvenirNextCyr-Demi.ttf');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Avenir/AvenirNextCyr-Regular.ttf');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Avenir/AvenirNextCyr-Light.ttf');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Avenir/AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: 'Monument Extended';
  font-weight: bold;
  src: url('../fonts/Monument/MonumentExtended-Ultrabold.otf');
}
